
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>
Numero: <input type="text" name="numero" /><br/>
Esponete: <input type="text" name="esponente" /><br />
<input type="submit" value="calcola" />
<label name="risultato">@ViewBag.Risultato</label>
